$bg-gradient: linear-gradient(270deg, #2762b9 0%, #3056A3 11.87%, #972EEA 81.77%);

$base-font-family: 'Open Sans', sans-serif;

$sprut-font-family: 'VoxRound', sans-serif;

$base-color: #000;

$blue-color: #02c9f8;

$violet-color: #972EEA;

